@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.cabecalho-imagem {
    height: 65px;
}

.cabecalho-menu {
    display: flex;
    column-gap: 35px;
}

.cabecalho-menu > a {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-top: -17px;
}

.cabecalho-menu > a:hover {
    color: #3b1c14ab;
}

.conteudo {
    margin-bottom: 60px;
    border-top: 0.4px solid #fff2e757;
}

.cont-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 40px;
}

.cont-principal-escrito {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.cont-principal-titulo {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 2.5px;
    color: #ffffff;
}

.cont-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #ECD6C4;
}

.cont-principal-botao {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 180px;
    height: 60px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.295);
    border: none;
    border-radius: 20px;
}

.cont-principal-botao:hover {
    cursor: pointer;
    background-color: #c48776;
}

.cont-principal-logo {
    width: 395px;
    height: 430px;
}

.cont-secundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 20px;
}

.cont-secundario-titulo {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-top: 50px;
    margin-bottom: 20px;
    border-top: 0.4px solid #fff2e75d;
    padding-top: 60px;
}

.cont-secundario > p {
    font-family: 'Sarala';
    font-size: 18px;
    color: #ECD6C4;
}

.footer {
    display: flex;
    justify-content: center;
    border-top: 0.4px solid #fff2e75d;
}

.footer-imagem {
    height: 50px;
    width: 280px;
    margin: 40px 0px;
}






